<section>
    <mat-tab-group>
        <!--Tab Celliers-->
        <mat-tab label="Mes celliers">
            <!--Boutons Ajouter-->
            <div class="create-btn">
                <a class="liste__btn-saq-creer fill" mat-raised-button (click)="createDialogCellier()">Ajouter un cellier</a>
            </div>
            <div class="create-btn">
                <a class="liste__btn-saq-creer fill" mat-raised-button (click)="openDialogBouteilleNonListees()">Ajouter une bouteille non listées</a>
            </div>
            <!--Filtre-->
            <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>

            <!--Liste des celliers-->
            <div class="mat-elevation-z8">
                <table class="table" mat-table [dataSource]="dataSourceCellier" matSort>
                    <ng-container matColumnDef="nom">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="nom" > Nom </th>
                        <td mat-cell *matCellDef="let cellier"><a routerLink="/cellier/{{cellier.cellier_id_cellier}}"> {{cellier.nom}}</a> </td>
                        <!--<td mat-cell *matCellDef="let cellier"><a routerLink="/cellier/{{cellier.cellier_id_cellier}}" (click)="newCellierData(cellier.cellier_id_cellier)"> {{cellier.nom}}</a> </td>-->
                    </ng-container>
                    <ng-container matColumnDef="adresse">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="adresse"> Adresse </th>
                        <td mat-cell *matCellDef="let cellier"> {{cellier.cellier_adresse}} </td>
                    </ng-container>
                    <!--Boutons d'action-->
                    <ng-container matColumnDef="action">
                        <th class="centre" mat-header-cell *matHeaderCellDef>Action</th>
                        <td class="centre" mat-cell *matCellDef="let cellier"> 
                            <button class="liste__btn" (click)="editDialogCellier(cellier)" mat-mini-fab aria-label="Example icon button with a home icon">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button class="liste__btn" (click)="deleteDialogCellier(cellier)" mat-mini-fab aria-label="Example icon button with a home icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsCellier"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsCellier;"></tr>
                    <!--Ligne affichée lorsqu'il n'y a pas de données correspondantes-->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>
                <!--Paginateur-->
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
            <!--Bouton Voir mes bouteilles-->
            <div class="create-btn">
                <a class="liste__btn-saq-creer fill" mat-raised-button routerLink="/liste" >Voir toutes mes bouteilles</a>
            </div>
        </mat-tab>
        <!--Liste d'information personnelle'-->
        <mat-tab label="Mes informations">
            <ng-container >
            <mat-card class="card" >
                <mat-card-header>
                    <img mat-card-avatar="" class="mat-card-avatar header-image" src="{{usager.image_url}}" alt="{{usager.nom_usager}}">
                    <mat-card-title>{{usager.prenom}}</mat-card-title>
                    <mat-card-title>{{usager.nom_usager}}</mat-card-title>
                    <mat-card-subtitle>{{usager.courriel}}</mat-card-subtitle>
                </mat-card-header>
               
                <mat-card-content >
                    <p>
                        Phone : {{usager.phone}}
                    </p>
                    <p>
                        Adresse : {{usager.adresse_usager}}
                    </p>
                    <p>
                        Ville : {{usager.nom}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a class="liste__btn-saq-creer fill" mat-raised-button (click)="editDialogUsager(usager)">Modifier mon profil</a>
                    <a class="liste__btn-saq-creer fill" mat-raised-button (click)="editDialogMotPasse(usager)">Modifier mot de passe</a>
                </mat-card-actions>
            </mat-card>
        </ng-container>
           
        </mat-tab>
    </mat-tab-group>
 
</section>