
@media screen and (max-width: 485px) {
    .liste__btn-saq-creer {
        align-content: center;
        background-color:  rgb(126, 10, 10);
        color:#e9eccd;
        font-weight: 100;
        font-size: 100%;
    }
    .mat-form-field {
        font-size: 12px !important;
    }
    .bouteille__img {
        margin: 0;
        height: 200px !important;
        width: auto;
    }
    .mat-raised-button {
        font-size: 70%;
        line-height: 18px;
        font-weight: lighter;
        color: #e9eccd;
        padding: 3px 16px;
        height: auto;
        width: auto;
    }
    .material-icons {
        padding-bottom: 3px;
        font-size: 14px;
    }
    .mat-mini-fab {
        height: 30px;
        width: 30px;
    }
    .mat-icon {
        height: 18px;
    }
    .liste__btn-saq{
        align-content: center;
        background-color:  rgb(126, 10, 10);
        color:#e9eccd;
        font-weight:lighter;
    }
    tr.mat-header-row {
        height: 5px;
    }
    .cdk-overlay-pane {
        width: 100%;
    }
    .mat-table {
        font-size: 80%;
        border: 0;
        vertical-align: middle;
        line-height: 60%;
    }

    .mat-table caption {
        font-size: 1em;
    }

    .mat-table .mat-header-cell {
        display: block;
    }
    
    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 100% !important;
        text-align: center;
        font-weight: bold;
        height:auto;
        margin-bottom: 1%;
        line-height: 0.5;
    }

    .mat-table .mat-cell:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;
        font-size: .85em;
    }
    .mat-table .mat-cell {
        border-bottom: 0;
    }
    .mat-table .mat-cell:last-child {
        height: 50px;
        margin-top: 0px;
        border-bottom: 1px solid #ddd;
    }

    .mat-table .mat-cell:first-child {
        margin-top: 10px;
    }

    .bouteille__image{
        width: 50vw;
    }
    td.mat-cell:first-of-type {
        padding-left: 0;
    }

    td p {
        align-items: center;
    }
    .mat-table .mat-header-cell {
        display: none;
    }
    .th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
        padding: 0;
    }

}
@media screen and (max-width: 510px) {
    th.mat-header-cell:first-of-type {
        padding-left: 0 ;
    }
    td.mat-cell:first-of-type {
        padding-left: 0;
        text-align: center;
    }
    th.mat-header-cell:last-of-type {
        padding-right: 0;
    }
    .mat-form-field {
        font-size: 60%;
    }
    .liste__btn {
        margin-right: 0;
    }
    .bouteille__img {
        align-items: center;
        height: 10vw;
        width: auto;
        margin-top: 16px;
    }
    .mat-sort-header-content {
        font-size: 6rem;
    }
    th.mat-header-cell, .mat-sort-header-container {
        text-align: center;
        
    }
    td.mat-cell:last-of-type {
        padding: 5px;
    }
    td.mat-cell {
        text-align: center;
        font-size: 60%;
        line-height: 1.2;
        padding: 5px;
    }
    .buttons {
        padding-top: 12px ;
    } 
    .mat-mini-fab {
        font-size: 2px;
        width: 20px;
        height: 20px;
        line-height: 18px;
    } 
    .mat-mini-fab .mat-button-wrapper {
        padding: 7px 0;
    }
    .span.mat-button-wrapper {
        width: 20px;
        height: 20px;
        line-height: 18px;
        font-size: 3px;
    } 
    .mat-ripple {
        margin-top: 10px;
    }
    .mat-icon {
        padding-top: 0px;
        width: 20px;
    }
    .material-icons {
        line-height: -0.3;
        font-size: 14px;
    }
    .mat-raised-button {
        min-width: 30px;
        padding: 0 6px;
        line-height: 16px;
    }
}
@media screen and (max-width: 560px) {
    .mat-form-field {
        font-size: 60%;
    }
    .bouteille__img {
        align-items: center;
        height: 10vw;
        width: auto;
        margin-top: 16px;
    }
    .mat-sort-header-content {
        font-size: 6rem;
    }
    th.mat-header-cell, .mat-sort-header-container {
        text-align: center;
        
    }
    td.mat-cell {
        text-align: center;
        font-size: 60%;
        line-height: 1.2;
        padding: 5px;
    }
    .buttons {
        padding-top: 12px ;
    } 
    .mat-mini-fab {
        font-size: 2px;
        width: 20px;
        height: 20px;
        line-height: 18px;
    } 
    .mat-mini-fab .mat-button-wrapper {
        padding: 7px 0;
    }
    .span.mat-button-wrapper {
        width: 20px;
        height: 20px;
        line-height: 18px;
    } 
    .mat-ripple {
        margin-top: 10px;
    }
    .mat-icon {
        padding-top: 0px;
        width: 20px;
    }
    .material-icons {
        line-height: -0.3;
        font-size: 14px;
    }
    .mat-raised-button {
        font-size: 5px;
        min-width: 30px;
        padding: 0 6px;
        line-height: 24px;
    }
}
@media screen and (max-width: 640px) {
    .mat-form-field {
        font-size: 70%;
    }
    th.mat-header-cell:first-of-type {
        padding-left: 0;
    }
    th.mat-header-cell:last-of-type {
        padding-right: 0;
    }
    td.mat-cell:first-of-type {
        padding-left: 0;
    }
    td.mat-cell:last-of-type {
        padding-right: 0;
    }
    .bouteille__img {
        align-items: center;
        height: 10vw ;
        width: auto;
        margin-top: 16px;
    }
    th.mat-header-cell, .mat-sort-header-container {
        text-align: center;
        font-size: 60%;
    }
    td.mat-cell {
        text-align: center;
        font-size: 70% !important;
        font-size: 64%;
        line-height: 1.2;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .buttons {
        padding-top: 0 ;
    } 
    .mat-mini-fab {
        font-size: 2px;
        width: 20px;
        height: 20px;
        line-height: 18px;
    } 
    .mat-mini-fab .mat-button-wrapper {
        padding: 7px 0;
    }
    .span.mat-button-wrapper {
        width: 20px;
        height: 20px;
        line-height: 18px;
    } 
    .mat-ripple {
        margin-top: 10px;
    }
    .mat-icon {
        padding-top: 0px;
        width: 20px;
    }
    .material-icons {
        line-height: -0.3;
        font-size: 14px;
    }
    .mat-raised-button {
        font-size: 10px !important;
        min-width: 30px;
        padding: 0 6px;
        line-height: 24px;
    }
}
@media screen and (max-width: 780px) {
    .bouteille__img {
        align-items: center;
        height: 6rem;
        width: auto;
        margin-top: 16px;
    }
    th.mat-header-cell, .mat-sort-header-container {
        text-align: center;
        
    }
    td.mat-cell {
        text-align: center;
        font-size: 12px;
    }
    .mat-mini-fab {
        width: 30px;
        height: 30px;
    }
    .material-icons {
        padding-top: 3px;
        line-height: 0.5;
        font-size: 19px;
    }

    button+button {
        margin-top: 5px;
    }
    .mat-raised-button {
        font-size: 12px;
        min-width: 30px;
        padding: 0 6px;
        line-height: 24px;
    }
}
@media screen and (max-width: 940px) {
    .bouteille__img {
        align-items: center;
        width: auto;
        margin-top: 16px;
    }
    th.mat-header-cell, .mat-sort-header-container {
        text-align: center;
        
    }
    td.mat-cell {
        text-align: center;
        
    }
    .mat-mini-fab {
        width: 30px;
        height: 30px;
    }
    .material-icons {
        padding-top: 3px;
        line-height: 0.5;
        font-size: 19px;
    }

    button+button {
        margin-top: 5px;
    }
}

.liste__btn{
    background-color: rgb(126, 10, 10);
    color: rgb(233, 236, 205);
    margin-right: 10px;
}

.liste__btn-saq{
    background-color:  rgb(126, 10, 10);
    color:rgb(170, 159, 60);
    font-weight: bold;
}

.liste__btn-saq-creer{
    background-color: rgb(79, 2, 2);
    color:rgb(170, 159, 60);
    font-weight: bold;
}

.mat-dialog-container {
    width: 20%;
}
// .mat-sort-header-container {
//   align-items: center;
// }
section{
    margin: 70px 4vw 4vw 4vw;
    padding-bottom: 100px;
}

table {
    width: 100%;
}

th {
    background-color: rgb(79, 2, 2);
    color:rgb(170, 159, 60);
    font-weight: bolder;
  
}

// td p {
//   margin-left: 1vw;
// }

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.create-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 0 0 0;
}

.bouteille__img{
    margin: 0.5vw 0;
    width: auto;
}
th.mat-header-cell, .mat-sort-header-container {
    text-align: center;
    justify-content: center !important;
} 
th.mat-sort-header-container {
    justify-content: center !important;
}
th.mat-header-cell {
    padding: 2px;
}
td.mat-cell {
    text-align: center;
    padding: auto 5px;
}
td.mat-cell:last-of-type {
    padding-right: 24px;
    padding-left: 24px;
}
td.mat-cell.left {
    text-align: left;
}
.flex {
    display: flex;
}

    
