<h1 mat-dialog-title>Ajouter une bouteille</h1>
Ce mon {{cellierData}}
<div mat-dialog-content>
    <form [formGroup]="creerBouteilleForm" action="">
        <!--Select de la bouteille-->
        <mat-form-field>
            <mat-select [(value)]="getBouteilleId" formControlName="id_bouteille" required placeholder="Nom de la bouteille">
              <mat-option *ngFor="let bouteille of bouteilles" [value]="bouteille.id">
                {{ bouteille.nom }}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <!--Inputs-->
        <mat-form-field appearance="outline">
            <mat-label>Date d'achat :</mat-label>
            <input matInput formControlName="date_achat" placeholder="AAAA-MM-JJ">
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Garder jusqu'à :</mat-label>
            <input matInput formControlName="garde_jusqua" placeholder="AAAA-MM-JJ">
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Notes :</mat-label>
            <input matInput formControlName="notes" placeholder="Nombre entier">
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Prix :</mat-label>
            <input matInput formControlName="prix" placeholder="Nombre">
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Quantité :</mat-label>
            <input matInput formControlName="quantite" placeholder="Nombre entier">
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Millesime :</mat-label>
            <input matInput formControlName="millesime" placeholder="AAAA">
            <mat-hint></mat-hint>
        </mat-form-field>
    </form>
</div>
<!--Boutons-->
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="success" [disabled]="!creerBouteilleForm.dirty || !creerBouteilleForm.valid" (click)="ajouterBouteille()">Ajouter</button>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>