mat-form-field{
    width: 100%;
}
button{
    margin-left: 1vw;
}
input.ng-invalid, textarea.ng-invalid{
    color: #f00;
}

input.ng-valid, textarea.ng-valid{
    color: rgb(41, 3, 145);
}

.mat-success {
    background-color:#4F3E3E;
    ;
    color: #fff;
}

.btn{
    
    margin-left: 1vw;
}
.mat-select-panel {

}
.mat-select-panel {
    font-size: 80%;
}
.mat-option {
    margin: 0 5px;
    font-size: 80%;
    width: 230px;
}