mat-form-field{
    width: 100%;
}
button{
    margin-left: 1vw;
}
input.ng-invalid, textarea.ng-invalid{
    color: #f00;
}

input.ng-valid, textarea.ng-valid{
    color: rgb(41, 3, 145);
}

.mat-success {
    background-color:#4F3E3E;
    ;
    color: #fff;
}

.btn{
    
    margin-left: 1vw;
}

@media screen and (max-width: 485px) {

    .mat-option {
        font-size: 80%;
        max-width: 80%;
    }
    .mat-typography h2 {
        font-size: 80%;
    }
    .mat-select-panel-wrap {
        max-width: 70%;
        
    }
    .cdk-overlay-pane {
        left:150px;
        width: 70%;
        padding-left: 50px;
    }
    .ng-tns-c139-10 {
        min-width: none !important;
    }
    .mat-select-panel {
        font-size: 80%;
        margin-left: 20px;
        margin-right: 100px;
    }


}
@media screen and (max-width: 510px) {
}
    
@media screen and (max-width: 560px) {
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 780px) {
}
@media screen and (max-width: 940px) {
}