mat-form-field{
    width: 100%;
  }
  button{
    margin-left: 1vw;
  }
  input.ng-invalid, textarea.ng-invalid{
    color: #f00;
  }
  
  input.ng-valid, textarea.ng-valid{
    color: rgb(41, 3, 145);
  }
  
  .mat-success {
    background-color: green;
    color: #fff;
  }
  