<h1 mat-dialog-title>
    Modifier le cellier
</h1>
<div mat-dialog-content>
    <h3>Nom du cellier: {{editData.nom}}</h3>
    <form [formGroup]="modifierCellierForm" action="">
        <!--Select-->
        <mat-form-field appearance="outline">
        <mat-label>Nom du cellier :</mat-label>
            <input matInput formControlName="nom" placeholder="Saisir le nom du cellier">
        </mat-form-field>
        <mat-form-field appearance="outline">
        <mat-label>Adresse :</mat-label>
            <input matInput formControlName="adresse" placeholder="Saisir l'adresse du cellier">
        </mat-form-field>
    </form>
</div>
<!--Boutons-->
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="success" [disabled]="!modifierCellierForm.dirty || !modifierCellierForm.valid" (click)="submit()">Modifier</button>
    <button class="btn" mat-raised-button color="warn" mat-dialog-close>Annuler</button>
</div>
