<h1 mat-dialog-title>Inscription</h1>
<div mat-dialog-content>
    <form [formGroup]="registerForm" action="">
        <!--Inputs-->
        <mat-form-field appearance="outline">
            <mat-label>Nom :</mat-label>
            <input matInput formControlName="nom" placeholder="Entrer votre nom">
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Prénom :</mat-label>
            <input matInput formControlName="prenom" placeholder="Entrer votre prenom">
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Courriel :</mat-label>
            <input matInput formControlName="courriel" placeholder="Entrer votre courriel">
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Phone :</mat-label>
            <input matInput formControlName="phone" placeholder="Entrer votre phone">
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Adresse :</mat-label>
            <input matInput formControlName="adresse" placeholder="Entrer votre adresse">
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Mot de passe :</mat-label>
            <input type="password" matInput formControlName="mot_passe" placeholder="Entrer votre mot de passe">
            <mat-hint></mat-hint>
        </mat-form-field>
        <!----><mat-form-field appearance="outline">
            <mat-label>Confirme ton mot de passe :</mat-label>
            <input type="password" formControlName="confirmpassword" matInput placeholder="Confirmer votre mot de passe">
            <mat-hint></mat-hint>
        </mat-form-field>
    </form>
</div>
<!--Boutons-->
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="accent" [disabled]="!registerForm.dirty || !registerForm.valid" (click)="registerUser()">S'inscrire</button>
</div>
