<mat-toolbar class="header__nav" color="warn">
    <!--<img class="img" src="/assets/img/bg.png" alt=""-->
    <div class="logo-container">
        <button class="header__logo" routerLink="/" mat-fab aria-label="Example icon button with a delete icon">
            <img class="img" src="/assets/img/logo.png" alt="">

        </button>
        <span class="header__title">&nbsp;{{sTitre}}</span>
    </div>



    <div>
        <ng-container *ngIf="!connect()">
            <div class="auth">
                <button mat-raised-button class="liste__btn1" routerLink="" (click)="openLogin()" aria-label="Example icon button with a home icon">
                    Connexion
                </button>
                <button mat-raised-button class="liste__btn" routerLink="" (click)="openRegister()" aria-label="Example icon button with a home icon">
                    S'inscrire
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="connect()">
            <button mat-fab class="liste__btn" routerLink="usager" aria-label="Example icon button with a home icon">
                <span class="material-icons">
                    person_outline
                </span>
            </button>
            <button mat-raised-button class="liste__btn" routerLink="" (click)="logout()" [(ngModel)]="estConnecte" aria-label="Example icon button with a home icon">
                Logout
            </button>
        </ng-container>

    </div>



</mat-toolbar>

