<!--<section class="produit">
    <ng-container *ngIf="estEditable; else nonEditable">
        <form [formGroup]="modifForm">
            <p>Nom : <input formControlName="nom"></p>    
            <p>Brasserie : <input  formControlName="brasserie"></p>    
            <p>Description : <textarea  formControlName="description"></textarea></p>    
            <button [disabled]="!modifForm.dirty || !modifForm.valid" (click)="modifierProduit()">Modifier</button>
            <button [disabled]="!modifForm.dirty" (click)="annuler()">Annuler</button>
            <button (click)="effacer()">Effacer</button>
        </form>
    </ng-container>-->

   <!--  <ng-template #nonEditable>
        <article>
            
           <a routerLink="/produit/{{produit.id_biere}}">
                <p>{{produit.nom}}</p>
            </a>
        </article>
    </ng-template>
</section>-->

<!--<span *ngIf="produit.rabais == true">(En solde)</span> -->
