<section class="btn">

    

    <div class="auth">
        <div class="logo__wrapper">
            <img class="img" src="/assets/img/logo.gif" alt="">
        </div>
        <button mat-raised-button class="liste__btn" (click)="openLogin()" aria-label="Example icon button with a home icon">
            Connexion
        </button>
        <button mat-raised-button class="liste__btn" (click)="openRegister()" aria-label="Example icon button with a home icon">
            S'inscrire
        </button>
    </div>
    
</section>
